<nav
  class="fixed top-0 right-0 flex justify-end items-center p-6 bg-transparent text-green-400 w-full z-50"
>
  <ul class="flex gap-6">
    <li>
      <a
        href="#home"
        class="text-green-400 text-lg font-black hover:text-green-300 transition-colors"
        >Inicio</a
      >
    </li>
    <li>
      <a
        href="#sobre-mi"
        class="text-green-400 text-lg font-black hover:text-green-300 transition-colors"
        >Sobre mí</a
      >
    </li>
    <li>
      <a
        href="#proyectos"
        class="text-green-400 text-lg font-black hover:text-green-300 transition-colors"
        >Proyectos</a
      >
    </li>
    <li>
      <a
        href="#contacto"
        class="text-green-400 text-lg font-black hover:text-green-300 transition-colors"
        >Contacto</a
      >
    </li>
  </ul>
</nav>
