.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.carousel img {
  flex: 0 0 100%;
  scroll-snap-align: start;
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.carousel::-webkit-scrollbar {
  display: none;
}
